<!DOCTYPE html>
<html lang="en">
<head>
    <script src='./javascripts/sas/util/messagingUtil.js'></script>
    <script src="./javascripts/jquery/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Response</title>
</head>
<body>
    <h1>API Response</h1>
    <div id="response"></div>

    <script>

const myHeaders = new Headers();
myHeaders.append("Cookie", "sas-ingress-nginx=6866adc2289a112d6ea7fd0775261540|f0e9e5d83f1b459459b54939af4feb2b");

const requestOptions = {
  method: "GET",
  headers: myHeaders,
  redirect: "follow"
};

fetch("https://sasserver.demo.sas.com/svi-alert/alerts/b63203ba-d218-410d-b3fe-95108afb5208", requestOptions)
  .then((response) => {
    console.log('Response object:', response); // Log the response object
    return response.text(); // Extract and return the body as a string
  })
  .then((result) => {
    console.log('Result:', result); // Log the extracted body content
  })
  .catch((error) => console.error('Error:', error));
  document.getElementById("response").innerHTML = obj.response;
      </script>
</body>
</html>
