<!DOCTYPE html>
<html lang="en">
<head>
    <title>API Response</title>
</head>
<body>
    <h1>API Response</h1>

    <script>
const myHeaders = new Headers();
myHeaders.append("Content-Type", "application/json");
myHeaders.append("Cookie", "sas-ingress-nginx=465a78167134495424fe1d90f9dbaa56|12b794cb5ca279bec1edb7e510234855");

const raw = JSON.stringify({
  "edgeTypes": [
    "social_link"
  ],
  "depth": 1,
  "extendedFormat": true,
  "graphObjectIds": [
    {
      "type": "PTY",
      "id": "10056215"
    },
    {
      "type": "alerts",
      "id": "b63203ba-d218-410d-b3fe-95108afb5208"
    }
  ],
  "query": {
    "type": "object",
    "objectIds": [
      {
        "type": "PTY",
        "id": "10056215"
      }
    ]
  }
});

const requestOptions = {
  method: "POST",
  headers: myHeaders,
  body: raw,
  redirect: "follow"
};

fetch("https://sasserver.demo.sas.com/svi-sand/traversals?calculateMetrics=false&expansionLimit=2000", requestOptions)
  .then((response) => response.text())
  .then((result) => console.log(result))
  .catch((error) => console.error(error));
    </script>
</body>
</html>
