<!DOCTYPE html>

<html>
  <head>
     <script src='./javascripts/sas/util/messagingUtil.js'></script>
     <script src="./javascripts/jquery/jquery.min.js"></script>

     <script type="text/javascript">
                "use strict";

                // Declare datareceive event handler from VA visualizations
        va.messagingUtil.setOnDataReceivedCallback(onDataReceived);
                // Event handler used upper : retrieve three value from the report, resource Id respectively
        function onDataReceived(resultData)
        {
            // Role 1 : uri source object
            document.getElementById('mainForm').elements['SCENARIO_GUID'].value = resultData.data[0][0];
			document.getElementById('mainForm').elements['FLOW_GUID'].value = resultData.data[0][1];
	document.getElementById("start_date_display").innerText = document.getElementById('mainForm').elements['SCENARIO_GUID'].value;
            }
     </script>

    <!DOCTYPE html>

<body>
    <form id="mainForm">
    </form>
    <p>Start Dates: <span id="start_date_display"></span></p>
</body>
	
</html>
