<!DOCTYPE html>

<html>
  <head>
     <script src='./javascripts/sas/util/messagingUtil.js'></script>
     <script src="./javascripts/jquery/jquery.min.js"></script>

<script>
    "use strict";

    va.messagingUtil.setOnDataReceivedCallback(updateURL);

	function updateURL(vaMsgObj)
	{
		document.getElementById("target_url").src = vaMsgObj.data[0][0];
	}
</script>

    <!DOCTYPE html>

<body>
	<div>
    <form id="mainForm">
    </form>
    <p>Start Date2: <span id="target_url"></span></p>
	<iframe id="target_url" src=""></iframe>
</div>
</body>
	
</html>
