
<!DOCTYPE html>
<html>
<head>
    <script src='./javascripts/sas/util/messagingUtil.js'></script>
    <script src="./javascripts/jquery/jquery.min.js"></script>
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            overflow: hidden;
        }
        #urlContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div id="urlContainer">
    <span id="urlText"></span>
    <span id="api_key"></span>
</div>

<script>
    "use strict";

    va.messagingUtil.setOnDataReceivedCallback(updateURL);

	function updateURL(vaMsgObj)
	{
		if (vaMsgObj && vaMsgObj.data && vaMsgObj.data.length > 0) {
			document.getElementById("urlText").textContent = vaMsgObj.data[0][0];
			document.getElementById("api_key").textContent = vaMsgObj.data[0][1];
		}
		else {
			document.getElementById("urlText").textContent = "No URL available";
		}
	}
</script>


</body>
</html>
