<!DOCTYPE html>

<html>
  <head>
    <script src='/javascripts/sas/util/messagingUtil.js'></script>
    <script src="/javascripts/jquery/jquery.min.js"></script>

	<style type="text/css">
	.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 30%;
	}
	.form-style-9{
		max-width: 550px;
		background: #FAFAFA;
		padding: 30px;
		margin: 50px auto;
		box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
		border-radius: 10px;
		border: 6px solid #D0E7C4;
	}
	.form-style-9 ul{
		padding:0;
		margin:0;
		list-style:none;
	}
	.form-style-9 ul li{
		display: block;
		margin-bottom: 10px;
		min-height: 35px;
	}
	.form-style-9 ul li  .field-style{
		box-sizing: border-box; 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		padding: 8px;
		outline: none;
		border: 1px solid #B0CFE0;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;

	}.form-style-9 ul li  .field-style:focus{
		box-shadow: 0 0 5px #B0CFE0;
		border:1px solid #B0CFE0;
	}
	.form-style-9 ul li .field-split{
		width: 49%;
	}
	.form-style-9 ul li .field-full{
		width: 100%;
	}
	.form-style-9 ul li input.align-left{
		float:left;
	}
	.form-style-9 ul li input.align-right{
		float:right;
	}
	.form-style-9 ul li textarea{
		width: 100%;
		height: 100px;
	}
	.form-style-9 ul li input[type="button"], 
	.form-style-9 ul li input[type="submit"] {
		-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
		-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
		box-shadow: inset 0px 1px 0px 0px #3985B1;
		background-color: #216288;
		border: 1px solid #17445E;
		display: inline-block;
		cursor: pointer;
		color: #FFFFFF;
		padding: 8px 18px;
		text-decoration: none;
		font: 12px Arial, Helvetica, sans-serif;
	}
	.form-style-9 ul li input[type="button"]:hover, 
	.form-style-9 ul li input[type="submit"]:hover {
		background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
		background-color: #28739E;
	}
	</style>

	
     <script type="text/javascript">
		"use strict";
		
		// Declare datareceive event handler from VA visualizations
        va.messagingUtil.setOnDataReceivedCallback(onDataReceived);

		// Event handler used upper : retrieve three value from the report, Machine, Fluid and Step respectively 
        function onDataReceived(resultData)
        {
            document.getElementById('mainForm').elements['MACHINE'].value = resultData.data[0][0];
            document.getElementById('mainForm').elements['FLUID'].value = resultData.data[0][1];
            document.getElementById('mainForm').elements['STEP'].value = resultData.data[0][2];
            document.getElementById('mainForm').elements['MODELID'].value = resultData.data[0][3];
            document.getElementById('mainForm').elements['STEPNB'].value = resultData.data[0][4];
            document.getElementById('mainForm').elements['PJI'].value = resultData.data[0][5];
            document.getElementById('mainForm').elements['DAY'].value = resultData.data[0][6];
	}
				
     </script>

  </head>
  <body>


  <body>
    <div id="form-style-9"> 
        <form class="form-style-9" id="mainForm" action="/SASJobExecution/" enctype="multipart/form-data">
            <input type="hidden" name="_program"     value="/Public/MLSensorMonitoring/jobs/Feedback">
            <input type="hidden" name="_action"      value="wait,execute">
            <ul>
            <li>
		<input type="text" id="MACHINE" name="MACHINE" class="field-style field-split align-left" />
		<input type="text" id="FLUID" name="FLUID" class="field-style field-split align-right" />
	    </li>
	    <li>    
			    <input type="text" id="STEP" name="STEP" class="field-style field-split align-right" />
			    <input type="text" id="MODELID" name="MODELID" class="field-style field-split align-left" />
			</li>
			<li>
			    <input type="text" id="STEPNB" name="STEPNB" class="field-style field-split align-left" />
			    <input type="text" id="PJI" name="PJI" class="field-style field-split align-right" />
			<li>    
			    <input type="text" id="DAY" name="DAY" class="field-style field-full align-left" />
		    </li>
		    <li>
			    <input type="text" id="COMMENT" name="COMMENT" class="field-style field-full align-left" />
			    <select type="text" id="ANOSCORE" name="ANOSCORE" class="field-style field-full align-left" />
  					<option value="1">True Positive : accurate anomaly detection</option>
  					<option value="2">False Positive : inaccurate anomaly detection</option>
  					<option value="3">Not sure : to be validated later</option>
			    </select>
	        </li>
	        <li>
	        <input type="submit" class="field-style field-full align-left" value="Click to send anomaly feedback" />
			</li>
			</li>
            </ul>
        </form>
    </div>
  </body>
</html>
